In [4]:
import pandas as pd

In [5]:
pd.read_csv(r"C:\Users\sainik\Desktop\comma sapreted.csv")

     Name      Batch RollNum   Address
0   Allen      py-09      12     Delhi
1   Solly      py-98      32    Rampur
2  Sachin      py-21      24  Haldwani
3   Rohit  Not py-01      43      Bhot
4  Adsdas       fsdf  dsdgfs      adfs

In [6]:
import os

In [7]:
os.getcwd()

'C:\\Users\\sainik'

In [8]:



pd.read_csv(r"MyFourthData11.csv")

     Name      Batch  RollNum   Address
0   Allen      py-09       12     Delhi
1   Solly      py-98       32    Rampur
2  Sachin      py-21       24  Haldwani
3   Rohit  Not py-01       43      Bhot
4   Shera  pyhton-01       11   Pataudi
5    Anil      py-44       44    Ashram
6  Deepji   Programm       55  Hydrabad

In [9]:
pd.read_excel(r"C:\Users\sainik\Desktop\April Month Report.xls")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,Sales Record Number,Order Number,Buyer Username,Buyer Name,Buyer Email,Buyer Note,Buyer Address 1,Buyer Address 2,Buyer City,Buyer State,...,Click And Collect Reference Number,eBay Plus,Authenticity Verification Program,Authenticity Verification Status,Authenticity Verification Outcome Reason,eBay Fulfillment Program,Tax City,Tax State,Tax Zip,Tax Country
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8068,18-08570-62102,piscesyooo_1,Kobe T,NaN,NaN,9606 ave 180st,#40,Edmonton,AB,...,NaN,No,No,NaN,NaN,No,Edmonton,AB,T5T 3V4,Canada
3,8067,11-08571-88355,13godess.feb,Mage Loizaga,NaN,NaN,313 Lynnette Pl,NaN,Lakeland,FL,...,NaN,No,No,NaN,NaN,No,Lakeland,FL,33809-2279,United States
4,8066,27-08559-03533,ye_590480,Yejin Lee,NaN,NaN,"26-17, Aenigol-gil, Ilsandong-gu",101-402,Goyang-si,Gyeonggi-do,...,NaN,No,No,NaN,NaN,No,Goyang-si,Gyeonggi-do,10301,South Korea
5,8065,03-08565-17313,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
6,8064,06-08564-51193,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
7,8063,21-08560-05651,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
8,8062,03-08561-33464,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
9,8061,05-08560-02304,cheney1106,Beverly Cheney,NaN,NaN,2949 Oak Hollow Dr,NaN,New Braunfels,TX,...,NaN,No,No,NaN,NaN,No,New Braunfels,TX,78132-5101,United States
10,8060,18-08566-08023,georo-5942,george romo,NaN,NaN,109 Starlite Dr,NaN,Pueblo,CO,...,NaN,No,No,NaN,NaN,No,Pueblo,CO,81005-2666,United States
11,8059,16-08548-42622,ye_590480,Yejin Lee,NaN,NaN,"26-17, Aenigol-gil, Ilsandong-gu",101-402,Goyang-si,Gyeonggi-do,...,NaN,No,No,NaN,NaN,No,Goyang-si,Gyeonggi-do,10301,South Korea
12,8058,19-08546-33226,leekonti,elias konidas,NaN,NaN,17410 107 Ave NW,NaN,edmonton,AB,...,NaN,No,No,NaN,NaN,No,edmonton,AB,T5S 1E9,Canada
13,8057,02-08541-97203,davidlpattonjr,David Patton,NaN,NaN,2339 Cypress Gardens Blvd,NaN,Spring Branch,TX,...,NaN,No,No,NaN,NaN,No,Spring Branch,TX,78070-4529,United States
14,8056,20-08530-65152,ye_590480,Yejin Lee,NaN,NaN,"26-17, Aenigol-gil, Ilsandong-gu",101-402,Goyang-si,Gyeonggi-do,...,NaN,No,No,NaN,NaN,No,Goyang-si,Gyeonggi-do,10301,South Korea
15,8055,20-08529-94752,ye_590480,Yejin Lee,NaN,NaN,"26-17, Aenigol-gil, Ilsandong-gu",101-402,Goyang-si,Gyeonggi-do,...,NaN,No,No,NaN,NaN,No,Goyang-si,Gyeonggi-do,10301,South Korea
16,8054,21-08529-63905,ye_590480,Yejin Lee,NaN,NaN,"26-17, Aenigol-gil, Ilsandong-gu",101-402,Goyang-si,Gyeonggi-do,...,NaN,No,No,NaN,NaN,No,Goyang-si,Gyeonggi-do,10301,South Korea
17,8053,20-08529-79029,ye_590480,Yejin Lee,NaN,NaN,"26-17, Aenigol-gil, Ilsandong-gu",101-402,Goyang-si,Gyeonggi-do,...,NaN,No,No,NaN,NaN,No,Goyang-si,Gyeonggi-do,10301,South Korea
18,8052,02-08534-67569,ye_590480,Yejin Lee,NaN,NaN,"26-17, Aenigol-gil, Ilsandong-gu",101-402,Goyang-si,Gyeonggi-do,...,NaN,No,No,NaN,NaN,No,Goyang-si,Gyeonggi-do,10301,South Korea
19,8051,17-08526-15686,husaldu-52,Hussain Aldurazi,NaN,NaN,Al Amir residence 3 floor flat 311,jvc,dubai,NaN,...,NaN,No,No,NaN,NaN,No,dubai,NaN,971,United Arab Emirates
20,8050,02-08529-15955,fc_tvhbe2a,Carol Fallon,NaN,NaN,12925 Community Rd,NaN,Middle River,MD,...,NaN,No,No,NaN,NaN,No,Middle River,MD,21220-1013,United States
21,8049,26-08520-69458,hear-rich,richard heard,NaN,NaN,314 Fieldstone,NaN,Victoria,TX,...,NaN,No,No,NaN,NaN,No,Victoria,TX,77901-3816,United States
22,8048,05-08521-96852,ianan77,Nan Smit,NaN,NaN,11 Vegar Str,IRD#126-101-678 Code:Paid,Kaitaia,Northland,...,NaN,No,No,NaN,NaN,No,Kaitaia,Northland,140,New Zealand
23,8047,15-08514-99429,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
24,8046,20-08513-40768,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
25,8045,24-08526-87479,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
26,8043,01-08518-83162,jbrasington868,Jessica Brasington,NaN,NaN,4929 S Hill View Dr,NaN,Charlotte,NC,...,NaN,No,No,NaN,NaN,No,Charlotte,NC,28210-2337,United States
27,8042,26-08511-16086,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
28,8041,03-08515-49151,sumil_53,Susan Miller,NaN,NaN,27539 Rosebay Ct,NaN,Temecula,CA,...,NaN,No,No,NaN,NaN,No,Temecula,CA,92591-6115,United States
29,8040,04-08515-10173,djayson-2012,jayson Davis,NaN,NaN,5818 Phillips St,NaN,Houston,TX,...,NaN,No,No,NaN,NaN,No,Houston,TX,77091-4044,United States
30,8039,12-08513-16791,phi_pp_6jwkqij9,Paul Phillips,NaN,NaN,1408 N Arc St,NaN,Spokane Vly,WA,...,NaN,No,No,NaN,NaN,No,Spokane Vly,WA,99016-9593,United States
31,8038,27-08507-38123,hec323,Hector Fay,NaN,NaN,113 Blackstone St,NaN,Mendon,MA,...,NaN,No,No,NaN,NaN,No,Mendon,MA,01756-1308,United States
32,8037,05-08511-78983,ronmolenman,Ronnie Molen,NaN,looks amazing. thanks so much seller 😊,173 North A Street,Apt D,Buckley,WA,...,NaN,No,No,NaN,NaN,No,Buckley,WA,98321-5904,United States
33,8036,22-08509-18886,queensbury98,mustafa taher,NaN,Hi please make sure certificate says paraiba n...,traktörsgatan 19c,NaN,helsingborg,Helsingborg,...,NaN,No,No,NaN,NaN,No,helsingborg,Helsingborg,25246,Sweden
34,8034,01-08505-30637,jme854,Judith Eddy,NaN,Thank you! You are a pleasure to do business w...,3630 Wessex Ln,NaN,Huntingtown,MD,...,NaN,No,No,NaN,NaN,No,Huntingtown,MD,20639-8700,United States
35,8034,01-08505-30637,jme854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,8034,01-08505-30637,jme854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,8034,01-08505-30637,jme854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,8034,01-08505-30637,jme854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,8034,01-08505-30637,jme854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,8028,07-08496-36785,thedd-man,Edward Miracco,NaN,NaN,6 Frost St,NaN,Arlington,MA,...,NaN,No,No,NaN,NaN,No,Arlington,MA,02474-1012,United States
41,8027,24-08503-79910,ercr_5965,Erin Crook,NaN,NaN,PO Box 163,NaN,Lansing,OH,...,NaN,No,No,NaN,NaN,No,Lansing,OH,43934-0163,United States
42,8026,02-08494-45018,thedd-man,Edward Miracco,NaN,NaN,6 Frost St,NaN,Arlington,MA,...,NaN,No,No,NaN,NaN,No,Arlington,MA,02474-1012,United States
43,8025,11-08475-56349,bearyspecials,Virginia Strickland,NaN,NaN,18 caldwell st,NaN,Summerton,SC,...,NaN,No,No,NaN,NaN,No,Summerton,SC,29148-9152,United States
44,8024,10-08472-38042,dejespauli,Paulina deJesus,NaN,NaN,13822 NE Airport Way,NaN,Portland,OR,...,NaN,No,No,NaN,NaN,No,Portland,OR,97251-9614,United States
45,8023,01-08464-59298,frostb25,david lewis,NaN,NaN,2717 s Vista Ave,apt 124,Boise,ID,...,NaN,No,No,NaN,NaN,No,Boise,ID,83705-7361,United States
46,8022,01-08463-79785,iams1948,christine hruza-iams,NaN,NaN,Box 732,3095 Arrowhead Road,Teton Village,WY,...,NaN,No,No,NaN,NaN,No,Teton Village,WY,83025-0732,United States
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,40,record(s) downloaded,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Seller ID : gemsworld_18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
pd.read_csv(r'C:\Users\sainik\Desktop\TSVFile.txt',sep='\t')

     Name      Batch RollNum   Address
0   Allen      py-09      12     Delhi
1   Solly      py-98      32    Rampur
2  Sachin      py-21      24  Haldwani
3   Rohit  Not py-01      43      Bhot
4  Adsdas       fsdf  dsdgfs      adfs

In [11]:
pd.read_csv(r"https://raw.githubusercontent.com/dsrscientist/dataset1/master/Skyserver.csv")

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1.237650e+18,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3.722360e+18,STAR,-0.000009,3306,54922,491
1,1.237650e+18,183.598370,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,3.638140e+17,STAR,-0.000055,323,51615,541
2,1.237650e+18,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,3.232740e+17,GALAXY,0.123111,287,52023,513
3,1.237650e+18,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3.722370e+18,STAR,-0.000111,3306,54922,510
4,1.237650e+18,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3.722370e+18,STAR,0.000590,3306,54922,512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.237650e+18,131.316413,51.539547,18.81777,17.47053,16.91508,16.68305,16.50570,1345,301,3,161,5.033450e+17,GALAXY,0.027583,447,51877,246
9996,1.237650e+18,131.306083,51.671341,18.27255,17.43849,17.07692,16.71661,16.69897,1345,301,3,162,5.033400e+17,GALAXY,0.117772,447,51877,228
9997,1.237650e+18,131.552562,51.666986,18.75818,17.77784,17.51872,17.43302,17.42048,1345,301,3,162,8.222620e+18,STAR,-0.000402,7303,57013,622
9998,1.237650e+18,131.477151,51.753068,18.88287,17.91068,17.53152,17.36284,17.13988,1345,301,3,163,5.033400e+17,GALAXY,0.014019,447,51877,229
9999,1.237650e+18,131.665012,51.805307,19.27586,17.37829,16.30542,15.83548,15.50588,1345,301,3,163,5.033410e+17,GALAXY,0.118417,447,51877,233

In [12]:
pd.read_csv(r"https://raw.githubusercontent.com/dsrscientist/dataset1/master/abalone.csv")

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [13]:
pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/Advertising.csv')

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [14]:
pd.read_excel(r"C:\Users\sainik\Downloads\train_agriculture (1).xlsx")

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...
4594,F00008078,2138,0,1,2,20,NaN,1,1,1
4595,F00008079,2139,0,1,2,30,47.0,2,1,1
4596,F00008080,2267,0,1,2,10,7.0,27,2,0
4597,F00008082,2267,0,1,2,10,20.0,24,2,0
4598,F00008083,2267,0,1,2,10,33.0,17,2,0